.app-container{
  display:flex;
}

.content-container{
  width:100%;
  /* display: flex;
  justify-content: space-between;
  flex-direction: column; */
}

.sidebar{
  min-height:800px;
  width:60px;
}

.post-card{
  margin:20px 50px 20px 50px;
  
}

.hashtag{
  margin:3px;
}

.badges{
 margin: 15px 0 0 0;
}

.bgcolor{
  /* background-color: rgb(203, 157, 236); */
  height:40px;

}

.create-form{
  width:80%;
  margin-left:10%;
  margin-top:50px;
}

.message{
  margin:100px 0;
  font-style:italic;
}                                

.loading{
  margin:10% 0;
}


